<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="student-info">
            <p>Name: Jesus Tortolero</p>
            <p>Id #: 548508773</p>
            <p>Email: tor19021@byui.edu</p>
            <p>Address: Valencia, Venezuela</p>
        </div>
</main>
<%- include('partials/footer') %>