<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
<section class="about-me">
    <img src="/images/profile.jpg" alt="Personal Photo">     
      <h2>Jesús Tortolero</h2>
      <p>Hi! I’m a student building web projects with Node.js and Express.</p>
      <h3>Interests</h3>
      <ul>
        <li>Going to the cinema</li>
        <li>Watching movies and series</li>
        <li>Going to the beach</li>
        <li>Hiking</li>
      </ul>
    </div>
</section>

</main>
<%- include('partials/footer') %>
